recursive-include amaris/data *
recursive-include amaris/migrations *
recursive-include amaris/static *
recursive-exclude amaris/static/assets/docs *
recursive-exclude amaris/static/assets/images/viz_thumbnails_large *
recursive-exclude amaris/static/docs *
recursive-exclude amaris/static/spec *
recursive-exclude amaris/static/images/viz_thumbnails_large *
recursive-exclude amaris/static/assets/node_modules *
recursive-include amaris/templates *
recursive-include amaris/translations *
recursive-exclude tests *
